
/*
*
* -------------------------------------------------------
*   nextflow-Genetic-Correlation (Nextflow Config file)
* -------------------------------------------------------
*
*/

params {

    summary_stats = '/Users/ibrahim/Desktop/nextflow-Genetic-Correlation/testdata/ukbiobank-multiple_psychotic_experience.sumstats.txt' 
    merge_alleles = '/Users/ibrahim/Desktop/nextflow-Genetic-Correlation/references/w_hm3.snplist'
    ld_reference = '/Users/ibrahim/Desktop/nextflow-Genetic-Correlation/bin/eur_w_ld_chr/'
    input_file = '/Users/ibrahim/Desktop/nextflow-Genetic-Correlation/input_parameter.csv'
    outdir = '/Users/ibrahim/Desktop/nextflow-Genetic-Correlation'

}
